
.DS_Store
.thumbs.db


node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/


.quasar/
dist/
quasar.config.*
src-cordova/node_modules/
src-cordova/platforms/
src-cordova/plugins/
src-cordova/www/
src-capacitor/www/
src-capacitor/node_modules/
src-electron/
src-pwa/


.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.env
.env.*
.env.local


coverage/
.nyc_output/
.cache/